<div class="container-fluid">
  <div class="sticky-top mb-2">
      <div class="row  ml-2">
        <div class="col">
            <b class="branchName">Bank Branches</b>
        </div>
      </div>
        <div class="row mb-2 mt-2">
          <div class="col-md-8 col-12">
              <div class="active-pink-3 active-pink-4 mb-4">
                  <input class="form-control" type="text" placeholder="Search" aria-label="Search" 
                  [(ngModel)]="searchModel">
              </div>
          </div>
          <div class="col-md-4 col-12 mb-2">
            <select name="city" id="cities" class="form-control" (change)="onChangeCity($event)">
              <option>Mumbai</option>
              <option>Bangalore</option>
              <option>Delhi</option>
              <option>Kolkata</option>
              <option>Hyderabad</option>
            </select>
        </div>
  </div>
  
  <div class="row">
      <div class="col-12" style="height: 500px; overflow:auto; width:100%">
          <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="favourites">Your Favs</th>
                    <th *ngFor="let head of headers | slice:0:idx;" scope="col">{{head}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of apiData |filter: searchModel | paginate : {itemsPerPage: itemsperpage, currentPage: pageNo}">
                      <td><input type="checkbox" [(ngModel)]="d.isFav" (change)="updateFav(d)"></td>
                    <td *ngFor="let e of objectValues(d)| slice:0:idx" style="font-size: 13px;">{{e}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>
    <div class="fixed-bottom bottomPortion">
        <div class="row mt-2">
            <div class="col-md-8 col-12">
              <pagination-controls (pageChange) ='updatepageNo($event)'></pagination-controls>
            </div>
            <div class="col-md-4 col-12">
              <select name="" id="" class="form-control" (change)="changePageLength($event)">
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>400</option>
              </select>
            </div>
        </div>
    </div>
    
</div>




 
